.profile {
  max-width: 600px;
  margin: 0 auto;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
}

.profile-img {
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  margin-top: 20px;
}

.profile-user {
  margin-top: 20px;
}

.btn-update{
  margin-right: 20px;
}

.profile-buttons{
  display: flex;
  margin-top: 20px;
  margin-left: 200px;
  margin-bottom: 40px;
}

.profile-stat-label{
  font-weight: bold;
  font-size: 1.2rem;
}

.profile-stat-number{
  font-size: 1.5rem;
}